@import url('https://fonts.googleapis.com/css2?family=Monda&family=Mulish:wght@200&family=Square+Peg&family=Zen+Loop&display=swap');

// ---------------------MOBILE-SMARTPHONE---------------------

.texto{
    font-family: $fuente-principal;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.texto-nav{
    @texto;
    color: rgb(255, 255, 255);
}

.texto-general{
    @texto
    color: black;
}

.texto-qvmp{
    @texto;
    font-size: medium;
    text-align: center;
    color: dimgrey;
    font-weight: bolder;
    padding-top: 30px
}

.texto-footer{
    @texto;
    color: black;
    padding: 0px;  
    margin: 0px;  
    font-size: 15px;
    text-align: left;
}

.texto-footer-dest{
    @texto;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    padding-top: 100px;
}

p{
    font-size: 15px;
    padding-top: 15px;
    text-align: justify;
}

/*---------------------TABLET & DESKTOP---------------------*/

@media (min-width: 768px){

    .textos{
        font-family: $fuente-principal;
        color: black;
        padding-bottom: 30px;
    }
    
    .titulo{
        font-size: 25px;
        padding-top: 120px;
        text-align: left;
    }
    
    p{
        font-size: 15px;
        padding-top: 20px;
        text-align: justify;
    }
}