/*---------------------MOBILE-SMARTPHONE---------------------*/

.grillaContacto{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "mainContacto"
    "botonUp"
    "footer"
    ;
    gap: 0px;
    align-items: stretch;
    justify-items: stretch;
}

.mainContacto{
    grid-area: mainContacto;
}
    
.imgContacto{
    display: none;
}

form{
    font-family: 'Mulish', sans-serif;
    color: black;
    font-weight: bolder; 
    font-size: 15px;
}


/*---------------------MOBILE-TABLET/DESKTOP---------------------*/

@media (min-width: 768px){
  
    .formImg{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .imgContacto{
        display: block;
        width: 400px;
        align-self: center;
    }
    
    }

@media (min-width: 1024px){

    .formImg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .imgContacto{
        display: block;
        width: 400px;
        align-self: center;
    }

}