/*---------------------MOBILE-SMARTPHONE---------------------*/

.grillaIndex{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "mainIndex"
    "slogan"
    "section-galeria"
    "masFotos"
    "footer"
    ;
    gap: 0px;
}

.mainIndex{  
    height: 100vh;
    background-image: url(../imagenes/FAL-D4_reduc-copia.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: mainIndex;
    margin-top: 0px;
}

.sloganPC{
    display: none;
}

.sloganMobile{
    grid-area: slogan;
    background-color: rgb(234, 227, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}

.slogan{
    font-family: 'Square Peg', cursive;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.section-galeria{
    grid-area: section-galeria;
    width: 1fr;
    padding-top: 60px; 
    padding-bottom: 60px; 
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeria-index{
    justify-self: center;
    width: 80vw;
}

.botones-fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.masFotos{
    grid-area: masFotos;
    justify-self: center;
    align-self: center;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

/*---------------------MOBILE-TABLET---------------------*/

@media (min-width: 768px){
     
    .grillaIndex{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "mainIndex"
        "section-galeria"
        "masFotos"
        "footer"
        ;
        gap: 0px;
    }

    .mainIndex{  
        background-image: url(../imagenes/FAL-D4_reduc-copia.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        grid-area: mainIndex;
    }
    
    .sloganPC{
        font-family: 'Square Peg', cursive;
        font-size: 40px;
        text-align: left;
        color: rgb(86, 84, 84);
        margin-top: 280px;
        padding-left: 60px;
        display: block;
        font-weight: bolder;
    }
    
    .sloganMobile{
        display: none
    }

    .botones-fotos{
        width: 80 vw;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    .galeria-index{
        justify-self: center;
        width: 60vw;
    }
}