/*---------------------MOBILE-SMARTPHONE---------------------*/

.grillaIndex{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 18% 8% auto 12% 10%;
    grid-template-areas: 
    "header"
    "menu" 
    "mainIndex"
    "slogan"
    "footer"
    ;
    gap: 0px;
}

.mainIndex{  
    width: 100%;
    height: auto;
    background-image: url(../imagenes/FAL-D4_reduc-copia.png);
    background-position: left left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: mainIndex;
    margin-top: 0px;
}

.sloganPC{
    display: none;
}

.sloganMobile{
    grid-area: slogan;
    background-color: rgb(234, 227, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}

.slogan{
    font-family: 'Square Peg', cursive;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

/*---------------------DESKTOP---------------------*/

@media (min-width: 1024px){

    /* Solo para Index: */
    
    .grillaIndex{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25% auto 10%;
        grid-template-areas: 
        "header"
        "mainIndex"
        "footer"
        ;
        gap: 0px;
    }
    
    .mainIndex{  
        background-image: url(../imagenes/FAL-D4_reduc-copia.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        grid-area: mainIndex;
    }
    
    .sloganPC{
        font-family: 'Square Peg', cursive;
        font-size: 40px;
        text-align: left;
        color: rgb(86, 84, 84);
        margin-top: 280px;
        margin-left: 60px;
        display: block;
        font-weight: bolder;
    }
    
    .sloganMobile{
        display: none
    }
}
    