/*---------------------MOBILE-SMARTPHONE---------------------*/

.grillaNosotros{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "mainNosotros"
    "botonUp"
    "footer"
    ;
    gap: 0px;
}

.mainNosotros{
    grid-area: mainNosotros;
}

.fotoSobreMi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoDiseñadora{
    width: 80vw;
}

/*---------------------MOBILE-TABLET---------------------*/

@media (min-width: 768px){
    
    .grillaNosotros{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 10% 40%;
        grid-template-areas: 
        "header"
        "mainNosotros"
        "botonUp"
        "footer"
        ;
        gap: 0px;
        align-items: stretch;
        justify-items: stretch;
    }

    .fotoYdescripcion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    
    .fotoDiseñadora{
        width: 40vw;
    }
}

/*---------------------DESKTOP---------------------*/

@media (min-width: 1024px){
    
    .fotoDiseñadora{
        width: 50vw;
    }
}