/*---------------------MOBILE-SMARTPHONE---------------------*/

.grillaNosotros{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% auto 10% 50%;
    grid-template-areas: 
    "header"
    "mainNosotros"
    "botonUp"
    "footer"
    ;
    gap: 0px;
}

.mainNosotros{
    grid-area: mainNosotros;
}

/*---------------------MOBILE-TABLET---------------------*/

@media (min-width: 768px){
    
    .grillaNosotros{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% auto 10% 40%;
        grid-template-areas: 
        "header"
        "mainNosotros"
        "botonUp"
        "footer"
        ;
        gap: 0px;
        align-items: stretch;
        justify-items: stretch;
    }
}