/*---------------------MOBILE-SMARTPHONE---------------------*/

.grillaNosotros{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25% auto 10% 10%;
    grid-template-areas: 
    "header"
    "mainNosotros"
    "botonUp"
    "footer"
    ;
    gap: 0px;
    align-items: stretch;
    justify-items: stretch;
}

.mainNosotros{
    grid-area: mainNosotros;
}

/*---------------------DESKTOP---------------------*/

@media (min-width: 1024px){
    
    .grillaNosotros{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25% auto 10% 10%;
        grid-template-areas: 
        "header"
        "mainNosotros"
        "botonUp"
        "footer"
        ;
        gap: 0px;
        align-items: stretch;
        justify-items: stretch;
    }
}