/*---------------------MOBILE-SMARTPHONE---------------------*/

.grillaProyectos{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "mainProyectos"
    "galeria"
    "botonUp"
    "footer"
    ;
    gap: 0px;
}

.mainProyectos{
    grid-area: mainProyectos;
}

.galeria{
    grid-area: galeria;
    width: 90vw;
}

.mobileNo{
    display: none;
}

/*---------------------MOBILE-TABLET/DESKTOP---------------------*/

@media (min-width: 768px){
  
    .mobileNo{
        display: block;
    }
    
    .galeria{
        width: 70vw;
    }
}