@import url("https://fonts.googleapis.com/css2?family=Monda&family=Mulish:wght@200&family=Square+Peg&family=Zen+Loop&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
  font-size: 1em;
}

.texto {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.texto-nav {
  @texto;
  color: white;
}

.texto-general {
  @texto color: black;
}

.texto-qvmp {
  @texto;
  font-size: medium;
  text-align: center;
  color: dimgrey;
  font-weight: bolder;
  padding-top: 30px;
}

.texto-footer {
  @texto;
  color: black;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  text-align: left;
}

.texto-footer-dest {
  @texto;
  color: dimgray;
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-size: 25px;
  padding-top: 40px;
  text-align: left;
  font-weight: bold;
}

p {
  font-size: 15px;
  padding-top: 15px;
  text-align: justify;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .textos {
    font-family: "Mulish", sans-serif;
    color: black;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 25px;
    padding-top: 50px;
    text-align: left;
  }
  p {
    font-size: 15px;
    padding-top: 20px;
    text-align: justify;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.namaste {
  width: 100%;
  height: 18vh;
  background-color: #e2d7c7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.namaste h1 {
  font-family: 'Monda', sans-serif;
  color: black;
  font-size: 40px;
  line-height: 5vh;
  text-align: center;
}

.namaste h2 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menu;
  z-index: 1;
}

@media (min-width: 1024px) {
  .namaste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10px;
  }
  .namaste h1 {
    font-size: 40px;
    margin-right: 50px;
  }
  .namaste h2 {
    font-size: 15px;
    margin-right: 50px;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaIndex {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 18% 8% auto 12% auto auto auto;
      grid-template-rows: 18% 8% auto 12% auto auto auto;
      grid-template-areas: "header" "menu"  "mainIndex" "slogan" "section-galeria" "masFotos" "footer";
  gap: 0px;
}

.mainIndex {
  width: 100%;
  height: 100vh;
  background-image: url(../imagenes/FAL-D4_reduc-copia.png);
  background-position: left left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainIndex;
  margin-top: 0px;
}

.sloganPC {
  display: none;
}

.sloganMobile {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: slogan;
  background-color: #eae3d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
}

.slogan {
  font-family: 'Square Peg', cursive;
  font-size: 35px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-galeria {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section-galeria;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria-index {
  -ms-grid-column-align: center;
      justify-self: center;
}

.botones-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.masFotos {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: masFotos;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaIndex {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 25% auto auto auto 40%;
        grid-template-rows: 25% auto auto auto 40%;
        grid-template-areas: "header" "mainIndex" "section-galeria" "masFotos" "footer";
    gap: 0px;
  }
  .mainIndex {
    background-image: url(../imagenes/FAL-D4_reduc-copia.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mainIndex;
  }
  .sloganPC {
    font-family: 'Square Peg', cursive;
    font-size: 40px;
    text-align: left;
    color: #565454;
    margin-top: 280px;
    margin-left: 60px;
    display: block;
    font-weight: bolder;
  }
  .sloganMobile {
    display: none;
  }
  .galeria-index {
    width: 50vw;
  }
  .botones-fotos {
    width: 80 vw;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 20px;
  }
}

.btns {
  border-radius: 5px;
  margin-bottom: 20px;
  width: 200px;
  border: 3px solid;
  padding: 5px 20px;
}

.btn-resid {
  @btns;
  color: white;
  background-color: black;
  border-color: dimgray;
}

.btn-comer {
  @btns;
  color: black;
  background-color: dimgray;
  border-color: white;
}

.btn-ofic {
  @btns;
  color: dimgray;
  background-color: white;
  border-color: dimgray;
}

a {
  text-decoration: none;
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaNosotros {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto 10% 50%;
      grid-template-rows: 25% auto 10% 50%;
      grid-template-areas: "header" "mainNosotros" "botonUp" "footer";
  gap: 0px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
}

.mainNosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainNosotros;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaNosotros {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 25% auto 10% 40%;
        grid-template-rows: 25% auto 10% 40%;
        grid-template-areas: "header" "mainNosotros" "botonUp" "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaServicios {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto auto 10% 50%;
      grid-template-rows: 25% auto auto 10% 50%;
      grid-template-areas: "header" "contratacion" "contratacionTexto" "botonUp" "footer";
  gap: 0px;
}

.modosContratacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contratacion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
}

.contratacionBotones {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contratacionBotones img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 150px;
}

.escala:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contratacionTexto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contratacionTexto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaServicios {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% auto auto 10% 40%;
        grid-template-rows: 25% auto auto 10% 40%;
        grid-template-areas: "header" "contratacion"  "contratacionTexto" "botonUp" "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .contratacionBotones {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contratacionBotones img {
    height: 220px;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaProyectos {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto auto 10% 50%;
      grid-template-rows: 25% auto auto 10% 50%;
      grid-template-areas: "header" "mainProyectos" "galeria" "botonUp" "footer";
  gap: 0px;
}

.mainProyectos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainProyectos;
}

.galeria {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: galeria;
  width: 90vw;
}

.mobileNo {
  display: none;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaProyectos {
    width: 100%;
    height: 100vp;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% auto auto 10% 40%;
        grid-template-rows: 25% auto auto 10% 40%;
        grid-template-areas: "header" "mainProyectos" "galeria" "botonUp"  "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .mobileNo {
    display: block;
  }
  .galeria {
    width: 70vw;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaContacto {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto 50%;
      grid-template-rows: 25% auto 50%;
      grid-template-areas: "header" "mainContacto" "footer";
  gap: 0px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
}

.mainContacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainContacto;
}

.imgContacto {
  display: none;
}

form {
  font-family: 'Mulish', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaContacto {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% auto 40vh;
        grid-template-rows: 25% auto 40vh;
        grid-template-areas: "header" "mainContacto"  "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .imgContacto {
    display: block;
    padding-bottom: 20px;
    width: 400px;
    height: auto;
  }
}

.botonUp {
  padding: 30px;
  text-align: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: botonUp;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.textoUp {
  color: black;
  font-family: "Mulish", sans-serif;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
}

.textoUp:hover {
  background-color: black;
  color: white;
}

.footer {
  background-color: #e2d7c7;
  font-family: "Mulish", sans-serif;
  color: black;
  font-weight: bolder;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  height: auto;
}

.footer .links-footer {
  text-align: center;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contacto-footer {
  text-align: center;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .redes-footer {
  padding: 60px 0px;
  height: 80px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
    height: auto;
  }
  .footer .links-footer {
    width: 33%;
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .contacto-footer {
    width: 33%;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .redes-footer {
    width: 33%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-right: 50px;
  }
}

.icono-fb {
  font-size: 30px;
  color: #443ebb;
}

.icono-ig {
  font-size: 30px;
  color: #d69a33;
}

.icono-tt {
  font-size: 30px;
  color: black;
}

.icono-wa {
  font-size: 30px;
  color: #2cac3f;
}
/*# sourceMappingURL=style.css.map */