@import url("https://fonts.googleapis.com/css2?family=Monda&family=Mulish:wght@200&family=Square+Peg&family=Zen+Loop&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
  font-size: 1em;
}

.texto {
  font-family: "Mulish", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.textos {
  font-family: "Mulish", sans-serif;
  color: black;
  font-weight: bolder;
  padding-bottom: 30px;
}

h3 {
  font-size: 25px;
  padding-top: 40px;
  text-align: left;
  font-weight: bold;
}

p {
  font-size: 15px;
  padding-top: 15px;
  text-align: justify;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .textos {
    font-family: "Mulish", sans-serif;
    color: black;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 25px;
    padding-top: 50px;
    text-align: left;
  }
  p {
    font-size: 15px;
    padding-top: 20px;
    text-align: justify;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.namaste {
  width: 100%;
  height: 18vh;
  background-color: #e2d7c7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.namaste h1 {
  font-family: 'Monda', sans-serif;
  color: black;
  font-size: 40px;
  line-height: 5vh;
  text-align: center;
}

.namaste h2 {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menu;
  z-index: 1;
}

@media (min-width: 1024px) {
  .namaste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10px;
  }
  .namaste h1 {
    font-size: 40px;
    margin-right: 50px;
  }
  .namaste h2 {
    font-size: 15px;
    margin-right: 50px;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaIndex {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 18% 8% auto 12% 10%;
      grid-template-rows: 18% 8% auto 12% 10%;
      grid-template-areas: "header"
 "menu" 
 "mainIndex"
 "slogan"
 "footer";
  gap: 0px;
}

.mainIndex {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/FAL-D4_reduc-copia.png);
  background-position: left left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainIndex;
  margin-top: 0px;
}

.sloganPC {
  display: none;
}

.sloganMobile {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: slogan;
  background-color: #eae3d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
}

.slogan {
  font-family: 'Square Peg', cursive;
  font-size: 35px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaIndex {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 25% auto 10%;
        grid-template-rows: 25% auto 10%;
        grid-template-areas: "header"
 "mainIndex"
 "footer";
    gap: 0px;
  }
  .mainIndex {
    background-image: url(../imagenes/FAL-D4_reduc-copia.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mainIndex;
  }
  .sloganPC {
    font-family: 'Square Peg', cursive;
    font-size: 40px;
    text-align: left;
    color: #565454;
    margin-top: 280px;
    margin-left: 60px;
    display: block;
    font-weight: bolder;
  }
  .sloganMobile {
    display: none;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaNosotros {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto 10% 10%;
      grid-template-rows: 25% auto 10% 10%;
      grid-template-areas: "header"
 "mainNosotros"
 "botonUp"
 "footer";
  gap: 0px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
}

.mainNosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainNosotros;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaNosotros {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 25% auto 10% 10%;
        grid-template-rows: 25% auto 10% 10%;
        grid-template-areas: "header"
 "mainNosotros"
 "botonUp"
 "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaServicios {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto auto 10% 10%;
      grid-template-rows: 25% auto auto 10% 10%;
      grid-template-areas: "header"
 "contratacion"
 "contratacionTexto"
 "botonUp"
 "footer";
  gap: 0px;
}

.modosContratacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contratacion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
}

.contratacionBotones {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contratacionBotones img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 150px;
}

.escala:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contratacionTexto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contratacionTexto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaServicios {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% auto auto 10% 10%;
        grid-template-rows: 25% auto auto 10% 10%;
        grid-template-areas: "header"
 "contratacion" 
 "contratacionTexto"
 "botonUp"
 "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .contratacionBotones {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contratacionBotones img {
    height: 220px;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaProyectos {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto auto 10% 10%;
      grid-template-rows: 25% auto auto 10% 10%;
      grid-template-areas: "header"
 "mainProyectos"
 "galeria"
 "botonUp"
 "footer";
  gap: 0px;
}

.mainProyectos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainProyectos;
}

.galeria {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: galeria;
  width: 90vw;
}

.mobileNo {
  display: none;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaProyectos {
    width: 100%;
    height: 100vp;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% auto auto 10% 10%;
        grid-template-rows: 25% auto auto 10% 10%;
        grid-template-areas: "header"
 "mainProyectos"
 "galeria"
 "botonUp" 
 "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .mobileNo {
    display: block;
  }
  .galeria {
    width: 70vw;
  }
}

/*---------------------MOBILE-SMARTPHONE---------------------*/
.grillaContacto {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 25% auto 10%;
      grid-template-rows: 25% auto 10%;
      grid-template-areas: "header"
 "mainContacto"
 "footer";
  gap: 0px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
}

.mainContacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainContacto;
}

.imgContacto {
  display: none;
}

form {
  font-family: 'Mulish', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}

/*---------------------DESKTOP---------------------*/
@media (min-width: 1024px) {
  .grillaContacto {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% auto 10vh;
        grid-template-rows: 25% auto 10vh;
        grid-template-areas: "header"
 "mainContacto" 
 "footer";
    gap: 0px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
  .imgContacto {
    display: block;
    padding-bottom: 20px;
    width: 400px;
    height: auto;
  }
}

.botonUp {
  padding: 30px;
  text-align: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: botonUp;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.textoUp {
  color: black;
  font-family: "Mulish", sans-serif;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
}

.textoUp:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: #e2d7c7;
  font-family: "Mulish", sans-serif;
  color: black;
  font-weight: bolder;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

footer .contacto {
  text-align: center;
  padding: 0px;
}
/*# sourceMappingURL=style.css.map */