// ---------------------MOBILE-SMARTPHONE---------------------

.header{
    grid-area: header;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: $fondo-header-footer;
}

.namaste{
    height: fit-content;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h1{
        font-family: 'Monda', sans-serif;
        color: black;
        font-size: 50px;
    }
        h2{
        font-family: $fuente-principal;
        color: black;
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
    }
}

// ---------------------MOBILE-TABLET---------------------

@media (min-width: 768px){

    .namaste{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
      
         h1{
            font-size: 50px;
            padding-right: 80px;
            line-height: 30px;
        }
        
        h2{
            font-size: 20px;
            padding-right: 80px;
        }
    }
}

// ---------------------DESKTOP---------------------

@media (min-width: 1024px){

    .namaste{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
      
         h1{
            font-size: 50px;
            padding-right: 80px;
            line-height: 30px;
        }
        
        h2{
            font-size: 25px;
            padding-right: 80px;
        }
    }
}